body{
    background-color: rgb(250, 227, 243);
    margin: 0%;
}
::-webkit-scrollbar {display: none;}
header{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tittle{
    background-color: rgb(250, 227, 243);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h1{
    font-size: 11ex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 167, 218);
}
.sub_tittle{
    background-color: rgb(250, 227, 243);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h2{
    font-size: 4ex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 167, 218);
}
main{
    background-color: rgb(109, 167, 218);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p{
    font-size: 4ex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 167, 218);    
}
footer{
    background-color: rgb(250, 227, 243);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.p_f{
    font-size: 4ex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 167, 218);
}
a{
    text-decoration: none;
}
.baul_call{
    background-color: rgb(109, 167, 218);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
.table_wsp{
    background-color: rgb(250, 227, 243);
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.wsp_tittle{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.wsp_center{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.wsp_h3{
    font-size: 7ex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #54d66a;    
    margin: 20px;
}
.wsp_h3:hover{
    cursor: pointer;
    transition: 3s;
    color: #aefa9d;
}
.table_form{
    background-color: rgb(250, 227, 243);
    width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.p_form{
    font-size: 2ex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 167, 218); 
}
.form_tittle{
    width: 100%;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 150px;
    text-align: center;
    font-size: 2ex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin: 3px; 
}
.first_campos{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.two_campo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.tree_campo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.asunto{
    width: 80%;
    height: 100px;
    text-align: center;
    font-size: 3ex;
}
.submit_campo{
    width: 100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.enviar{
    background-color: rgb(109, 167, 218);
    border: none;
    width: 120px;
    height: 40px; 
}
.enviar:hover{
    background-color: rgba(255, 255, 0, 0.547);
    transition: 5s;
    cursor: pointer;
}

